.repo-container h2 {
  text-align: center;
  margin: 2rem 0;
  color: #1c1c1c;
}

.repo-container {
    display: flex;
    flex-direction: column;
}

.repo-container li {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    list-style: none;
}

.repo-container p {
    margin-bottom: .5rem;
}